sphinx
sphinx-togglebutton
sphinxcontrib-opendataservices
sphinxcontrib-opendataservices-jsonschema
sphinx-intl
# Don't install this, as it's for Transifex API v2, which is now discontinued
# We will need to migrate to https://developers.transifex.com/docs/cli instead
#transifex-client
sphinx_rtd_theme
myst-parser
